.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 15px;
  background-color: var(--c-background-dark);
  height: 40px;
  .nav-item {
    margin-right: 15px;
  }
  &__group {
    display: flex;
    align-items: center;
  }
  a {
    text-decoration: none;
    color: var(--c-ink-ondark);
    font-weight: 600;
  }
}
